extends layout.pug

block content
    h1 Dashboard
    div(class="container")

        each latestreading in latestreadings
            div(class="row")
                div(class="col") #{latestreading.station}
                div(class="col") Weather
                    p #{latestreading.weather}
                div(class="col") Temperature
                    p #{latestreading.temperature} Grad
                div(class="col") Wind
                    p #{latestreading.wind} bft
                div(class="col") Air Pressure
                    p #{latestreading.pressure} hPa

            a(href="/stations/"+latestreading.stationid) Details


    form(action="/stations", method="post")
        div(class='container')
            div(class='row')
                div(class='col')
                    div(class="form-group")
                        label(for="station_name") Name Wetterstation
                        input(type="text", name="station_name", id="station_name")
                div(class='col')
                    div(class="form-group")
                        label(for="xposition") Breitengrad
                        input(type="text", name="xposition", id="xposition")
                div(class='col')
                    div(class="form-group")
                        label(for="yposition") Längengrad
                        input(type="text", name="yposition", id="yposition")
            div(class="form-group")
                button(class="btn btn-primary", type="submit") Station hinzufügen