extends layout.pug

block content
    h1 Dashboard
    div(class="container")

        each latestreading in latestreadings
            div(class="row")
                div(class="col") #{latestreading.station}
                div(class="col") Weather
                    p #{latestreading.weather}
                div(class="col") Temperature
                    p #{latestreading.temperature} Grad
                div(class="col") Wind
                    p #{latestreading.wind} bft
                div(class="col") Air Pressure
                    p #{latestreading.pressure} hPa

            a(href="/stations/"+latestreading.stationid) Details

