extends layout.pug

block content
    h1 Dashboard
    div(class="container")

        each latestreading in latestreadings
            div(class="row")
                div(class="col") #{latestreading.location}
                div(class="col") Weather
                    p #{latestreading.weather}
                div(class="col") Temperature
                    p #{latestreading.temperature}
                div(class="col") Wind
                    p #{latestreading.wind}
                div(class="col") Air Pressure
                    p #{latestreading.pressure}

            a(href="/stations/"+latestreading.stationid) Details

