doctype html
html
    head
        title Weathertop
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/styles.css")
        link(href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet")


    body(id='dashboard')
        nav
            ul
                li
                    a(href='/')
                        h3 Weathertop
                li
                    a(href='/stations') Dashboard

        h1 Dashboard
        div(class="container")

            each latestreading in latestreadings
                div(class="row")
                    div(class="col") #{latestreading.location}
                    div(class="col") Weather
                        p #{latestreading.weather}
                    div(class="col") Temperature
                        p #{latestreading.temperature}
                    div(class="col") Wind
                        p #{latestreading.wind}
                    div(class="col") Air Pressure
                        p #{latestreading.pressure}

                a(href="/stations/"+latestreading.stationid) Details

