extends layout.pug

block content
    div(class="container")
        div(class="row")
            div(class="col") #{station.station}
            div(class="col") Weather
                p #{latest_reading.weather}
            div(class="col") Temperature
                p #{latest_reading.temperature} Grad
            div(class="col") Wind
                p #{latest_reading.wind} bft
            div(class="col") Air Pressure
                p #{latest_reading.pressure} hpa




        table(class="table")
            thead
                tr
                    th Wetter
                    th Temperatur
                    th Wind
                    th Luftdruck
            tbody
                each reading in readings
                    tr
                        td #{reading.weather}
                        td #{reading.temperature}
                        td #{reading.wind}
                        td #{reading.pressure}



