extends layout.pug

block content
    body
        nav(class="bg-light text-dark")
            ul
                li
                    h3 Weathertop
                li
                    a(href='/stations') Dashboard
        div(class="container")
            div(class="row" id='latestreadingrow')
                div(class="col") #{latest_reading.station}
                    div(id="lat_lon")
                        p Lat: #{latest_reading.latitude}
                        p Lon: #{latest_reading.longitude}
                div(class="col")
                    if(latest_reading.weather >= 200 && latest_reading.weather <= 232)
                        div(class='row')
                            div(class='col-8') Weather
                                p Thunderstorm
                            div(class='col-4')
                                i(class="bi bi-cloud-lightning-rain" style="font-size: 2rem")
                    else if (latest_reading.weather >= 300 && latest_reading.weather <= 321)
                        div(class='row')
                            div(class='col-8') Weather
                                p Drizzle
                            div(class='col-4')
                                i(class="bi bi-cloud-drizzle" style="font-size: 2rem")
                    else if (latest_reading.weather >= 500 && latest_reading.weather <= 531)
                        div(class='row')
                            div(class='col-8') Weather
                                p Rain
                            div(class='col-4')
                                i(class="bi bi-cloud-rain-heavy" style="font-size: 2rem")
                    else if (latest_reading.weather >= 600 && latest_reading.weather <= 622)
                        div(class='row')
                            div(class='col-8') Weather
                                p Snow
                            div(class='col-4')
                                i(class="bi bi-cloud-snow" style="font-size: 2rem")
                    else if (latest_reading.weather >= 701 && latest_reading.weather <= 781)
                        div(class='row')
                            div(class='col-8') Weather
                                p Atmosphere
                            div(class='col-4')
                                i(class="bi bi-cloud-haze" style="font-size: 2rem")
                    else if (latest_reading.weather == 800)
                        div(class='row')
                            div(class='col-8') Weather
                                p Clear
                            div(class='col-4')
                                i(class="bi bi-sun" style="font-size: 2rem")
                    else if (latest_reading.weather >= 801 && latest_reading.weather <= 804)
                        div(class='row')
                            div(class='col-8') Weather
                                p Cloud
                            div(class='col-4')
                                i(class="bi bi-cloudy" style="font-size: 2rem")
                    else
                        p Weather


                div(class="col")
                    div(class='row')
                        div(class='col-8') Temperature
                            p #{latest_reading.temperature} Grad
                            p Max: #{latest_reading.max_temp}
                            p Min: #{latest_reading.min_temp}
                        div(class='col-4')
                            i(class="bi bi-thermometer-half" style="font-size: 2rem; color: grey;")
                            if(latest_reading.temp_increase == true)
                                i.bi.bi-arrow-up-right(style="font-size: 2rem; color: grey;")
                            else if(latest_reading.temp_increase == false)
                                i.bi.bi-arrow-down-right(style="font-size: 2rem; color: grey;")
                div(class="col")
                    div(class='row')
                        div(class='col-8') Wind
                            p #{latest_reading.wind} bft
                            p #{latest_reading.direction}
                            p Max: #{latest_reading.max_wind}
                            p Min: #{latest_reading.min_wind}
                        div(class='col-4')
                            i(class="bi bi-wind" style="font-size: 2rem; color: orange;")
                            if(latest_reading.wind_increase == true)
                                i.bi.bi-arrow-up-right(style="font-size: 2rem; color: orange;")
                            else if(latest_reading.wind_increase == false)
                                i.bi.bi-arrow-down-right(style="font-size: 2rem; color: orange;")
                div(class="col")
                    div(class='row')
                        div(class='col-8') Air Pressure
                            p #{latest_reading.pressure} hPa
                            p Max: #{latest_reading.max_pressure}
                            p Min: #{latest_reading.min_pressure}
                        div(class='col-4')
                            i(class="bi bi-speedometer" style="font-size: 2rem; color: yellow;")
                            if(latest_reading.pressure_increase == true)
                                i.bi.bi-arrow-up-right(style="font-size: 2rem; color: yellow;")
                            else if(latest_reading.pressure_increase == false)
                                i.bi.bi-arrow-down-right(style="font-size: 2rem; color: yellow;")




            table(class="table")
                thead
                    tr
                        th Zeitpunkt
                        th Wetter
                        th Temperatur
                        th Wind
                        th Luftdruck
                tbody
                    each reading in readings
                       if(reading.weather != null && reading.temperature != null && reading.wind != null && reading.pressure != null)
                            tr
                                td #{reading.time}
                                td #{reading.weather}
                                td #{reading.temperature}
                                td #{reading.wind}
                                td #{reading.pressure}
                                td
                                    form(display="inline"  action="/stations/"+reading.station_id method="POST")
                                        input(type="hidden" name="readingid" value=reading.id)
                                        button(class="btn btn-link")
                                            i.bi.bi-x-circle(style="color: black;")

            form(action="/stations/"+latest_reading.station_id, method="post")
                div(class='container')
                    div(class='row')
                        div(class='col')
                            div(class="form-group")
                                label(for="weather_code") Code
                                input(type="text", name="weather_code", id="weather_code", pattern="[0-9]+", title="Only positive whole numbers are allowed!")
                        div(class='col')
                            div(class="form-group")
                                label(for="temperature") Temperatur
                                input(type="text", name="temperature", id="temperature", step="any")
                        div(class='col')
                            div(class="form-group")
                                label(for="wind_speed") Windgeschwindigkeit
                                input(type="number", name="wind_speed", id="wind_speed", min="0", step="any")
                        div(class='col')
                            div(class="form-group")
                                label(for="wind_direction") Windrichtung
                                input(type="number", name="wind_direction", id="wind_direction", min="0", step="any")
                        div(class='col')
                            div(class="form-group")
                                label(for="airpressure") Luftdruck
                                input(type="text", name="airpressure", id="airpressure", pattern="[0-9]+", title="Only positive whole numbers are allowed!")
                    div(class="form-group")
                        button(class="btn btn-primary", type="submit") Messung hinzufügen
            a(href='/stations/'+latest_reading.station_id+'/addreport')
                button(class="btn btn-warning" class="mb-4") Automatische Messung hinzufügen


