doctype html
html
    head
        title Weathertop
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/stylesheets/styles.css")
        link(href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet")


    body(id='dashboard')
        nav
            ul
                li
                    a(href='/')
                        h3 Weathertop
                li
                    a(href='/stations') Dashboard

        div(class="container")
            div(class="row")
                div(class="col") #{station.station}
                div(class="col") Weather
                    p #{latest_reading.weather}
                div(class="col") Temperature
                    p #{latest_reading.temperature} Grad
                div(class="col") Wind
                    p #{latest_reading.wind} bft
                div(class="col") Air Pressure
                    p #{latest_reading.pressure} hpa




            table(class="table")
                thead
                    tr
                        th Wetter
                        th Temperatur
                        th Wind
                        th Luftdruck
                tbody
                    each reading in readings
                        tr
                            td #{reading.weather}
                            td #{reading.temperature}
                            td #{reading.wind}
                            td #{reading.pressure}



